/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
    
    position: relative;
  }
  
  /* Style the links inside the navigation bar */


  .title{
      transform: translate(7vw,20px);
      position: absolute;
    
  }

  .user{
      transform: translate(90vw,0px);
      
  }

  .role{
    transform: translate(90vw,-10px);
    color:#A9A9A9;
  }

  .logout{
    transform: translate(90vw,-20px);
    color:#A9A9A9;
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }